<!DOCTYPE html>
<html>
<head>
  <title>Coffee App</title>
</head>
<body>
  <h2>Coffee App</h2>
  <form action="/add/coffee" method="POST">
     <!-- Show the form with "User Name" input & "Coffee Name" input and submit button. -->
    <label for="userName">User Name:</label>
    <input type="text" name="userName" id="userName" required><br>
    <label for="coffeeName">Coffee Name:</label>
    <input type="text" name="coffeeName" id="coffeeName" required><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
